.top {
  height: 100px; 
  background-color: rgb(168, 39, 39);
  border-radius: 25px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)
}
.nav{
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: left;
  
    

}

nav ul li {
    margin: 30px;
}


.caixa1{

width: 300px ;
height:  600px;
background-color: blueviolet;
border-radius: 30px;
box-shadow: 5px 5px 20px;
position: relative;
top: 20px;
float: right;
}

body{
  background-image: url(OIP.jpg);
  background-size: cover;
}
.menu2{
  list-style: none;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: orangered;



}